.book-navigation .menu {
border-top:1px solid #888;padding:1em 0 0 3em;
}

.book-navigation .page-links {
border-top:1px solid #888;border-bottom:1px solid #888;text-align:center;padding:0.5em;
}

.book-navigation .page-previous {
text-align:left;width:42%;display:block;float:left;
}
.book-navigation .page-up {
margin:0 5%;width:4%;display:block;float:left;
}

.book-navigation .page-next {
text-align:right;width:42%;display:block;float:right;
}

.node-unpublished {
background-color:#fff4f4;
}

.preview .node {
background-color:#ffffea;
}

#node-admin-filter ul {
list-style-type:none;padding:0;margin:0;width:100%;
}

#node-admin-buttons {
float:left;margin-left:0.5em;clear:right;
}

td.revision-current {
background:#ffc;
}

.node-form .form-text {
display:block;width:95%;
}

.node-form .container-inline .form-text {
display:inline;width:auto;
}

.node-form .standard {
clear:both;
}

.node-form textarea {
display:block;width:95%;
}

.node-form .attachments fieldset {
float:none;display:block;
}

.poll .bar {
height:1em;margin:1px 0;background-color:#ddd;
}

.poll .bar .foreground {
background-color:#000;height:1em;float:left;
}

.poll .links {
text-align:center;
}

.poll .percent {
text-align:right;
}

.poll .total {
text-align:center;
}

.poll .vote-form {
text-align:center;
}

.poll .vote-form .choices {
text-align:left;margin:0 auto;display:table;
}

.node-form .poll-form fieldset {
display:block;
}

fieldset {
margin-bottom:1em;padding:.5em;
}

form {
margin:0;padding:0;
}

hr {
height:1px;border:1px solid gray;
}

img {
border:0;
}

table {
border-collapse:collapse;
}

th {
text-align:left;padding-right:1em;border-bottom:3px solid #ccc;
}

.clear-block:after {
content:".";display:block;height:0;clear:both;visibility:hidden;
}

.clear-block {
display:inline-block;
}

/* Hides from IE-mac \*/* html .clear-block {
height:1%;
}

.clear-block {
display:block;
}

th.active img {
display:inline;
}

tr.even,tr.odd {
background-color:#eee;border-bottom:1px solid #ccc;padding:0.1em 0.6em;
}

td.active {
background-color:#ddd;
}

tbody {
border-top:1px solid #ccc;
}

tbody th {
border-bottom:1px solid #ccc;
}

thead th {
text-align:left;padding-right:1em;border-bottom:3px solid #ccc;
}

.breadcrumb {
padding-bottom:.5em
}

.error {
color:#f00;
}

div.error {
border:1px solid #d77;
}

div.error,tr.error {
background:#fcc;color:#200;
}

div.warning,tr.warning {
background:#ffd;
}

div.ok,tr.ok {
background:#dfd;
}

.item-list .icon {
color:#555;float:right;padding-left:0.25em;clear:right;
}

.item-list .title {
font-weight:bold;
}

.item-list ul {
margin:0 0 0.75em 0;padding:0;
}

.item-list ul li {
margin:0 0 0.25em 1.5em;padding:0;list-style:disc;
}

.form-item {
margin-top:1em;margin-bottom:1em;
}

tr.odd .form-item,tr.even .form-item {
margin-top:0;margin-bottom:0;white-space:nowrap;
}

tr.merge-down,tr.merge-down td,tr.merge-down th {
border-bottom-width:0 !important;
}

tr.merge-up,tr.merge-up td,tr.merge-up th {
border-top-width:0 !important;
}

.form-item input.error,.form-item textarea.error,.form-item select.error {
border:2px solid red;
}

.form-item .description {
font-size:0.85em;
}

.form-item label {
display:block;font-weight:bold;
}

.form-item label.option {
display:inline;font-weight:normal;
}

.form-checkboxes,.form-radios {
margin:1em 0;
}

.form-checkboxes .form-item,.form-radios .form-item {
margin-top:0.4em;margin-bottom:0.4em;
}

.marker,.form-required {
color:#f00;
}

.more-link {
text-align:right;
}

.more-help-link {
font-size:0.85em;text-align:right;
}

.nowrap {
white-space:nowrap;
}

.pager {
clear:both;text-align:center;
}

.pager a,.pager strong.pager-current {
padding:0.5em;
}

.tips {
margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;
}

dl.multiselect dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select {
font-family:inherit;font-size:inherit;width:14em;
}

dl.multiselect dd.a,dl.multiselect dd.a .form-item {
width:8em;
}

dl.multiselect dt,dl.multiselect dd {
float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;
}

dl.multiselect .form-item {
height:1.75em;margin:0;
}

.container-inline div,.container-inline label {
display:inline;
}

ul.menu {
list-style:none;border:none;text-align:left;
}

ul.menu li {
margin:0 0 0 0.5em;
}

li.expanded {
list-style-type:circle;list-style-image:url(/modules/system/../../misc/menu-expanded.png);padding:0.2em 0.5em 0 0;margin:0;
}

li.collapsed {
list-style-type:disc;list-style-image:url(/modules/system/../../misc/menu-collapsed.png);padding:0.2em 0.5em 0 0;margin:0;
}

li.leaf {
list-style-type:square;list-style-image:url(/modules/system/../../misc/menu-leaf.png);padding:0.2em 0.5em 0 0;margin:0;
}

li a.active {
color:#000;
}

td.menu-disabled {
background:#ccc;
}

ul.links {
margin:0;padding:0;
}

ul.links.inline {
display:inline;
}

ul.links li {
display:inline;list-style-type:none;padding:0 0.5em;
}

.block ul {
margin:0;padding:0 0 0.25em 1em;
}

ul.primary {
border-collapse:collapse;padding:0 0 0 1em;white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px solid #bbb;
}

ul.primary li {
display:inline;
}

ul.primary li a {
background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none;
}

ul.primary li.active a {
background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;
}

ul.primary li a:hover {
background-color:#eee;border-color:#ccc;border-bottom-color:#eee;
}

ul.secondary {
border-bottom:1px solid #bbb;padding:0.5em 1em;margin:5px;
}

ul.secondary li {
display:inline;padding:0 1em;border-right:1px solid #ccc;
}

ul.secondary a {
padding:0;text-decoration:none;
}

ul.secondary a.active {
border-bottom:4px solid #999;
}

#autocomplete {
position:absolute;border:1px solid;overflow:hidden;z-index:100;
}

#autocomplete ul {
margin:0;padding:0;list-style:none;
}

#autocomplete li {
background:#fff;color:#000;white-space:pre;cursor:default;
}

#autocomplete li.selected {
background:#0072b9;color:#fff;
}

html.js input.form-autocomplete {
background-image:url(/modules/system/../../misc/throbber.gif);background-repeat:no-repeat;background-position:100% 2px;
}

html.js input.throbbing {
background-position:100% -18px;
}

html.js fieldset.collapsed {
border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;
}

html.js fieldset.collapsed * {
display:none;
}

html.js fieldset.collapsed legend {
display:block;
}

html.js fieldset.collapsible legend a {
padding-left:15px;background:url(/modules/system/../../misc/menu-expanded.png) 5px 75% no-repeat;
}

html.js fieldset.collapsed legend a {
background-image:url(/modules/system/../../misc/menu-collapsed.png);background-position:5px 50%;
}

* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* html.js fieldset.collapsed table * {
display:inline;
}

html.js fieldset.collapsible legend a {
display:block;
}

html.js fieldset.collapsible .fieldset-wrapper {
overflow:auto;
}

.resizable-textarea {
width:95%;
}

.resizable-textarea .grippie {
height:9px;overflow:hidden;background:#eee url(/modules/system/../../misc/grippie.png) no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;
}

html.js .resizable-textarea textarea {
margin-bottom:0;width:100%;display:block;
}

.progress {
font-weight:bold;
}

.progress .bar {
background:#fff url(/modules/system/../../misc/progress.gif);border:1px solid #00375a;height:1.5em;margin-top:0.2em;
}

.progress .filled {
background:#0072b9;height:1em;border-bottom:0.5em solid #004a73;width:0%;
}

.progress .percentage {
float:right;
}

#first-time strong {
display:block;padding:1.5em 0 .5em;
}

tr.selected td {
background:#ffc;
}

#permissions td.module {
font-weight:bold;
}

#permissions td.permission {
padding-left:1.5em;
}

#access-rules .access-type,#access-rules .rule-type {
margin-right:1em;float:left;
}

#access-rules .access-type .form-item,#access-rules .rule-type .form-item {
margin-top:0;
}

#access-rules .mask {
clear:both;
}

#user-login-form {
text-align:center;
}

#user-admin-filter ul {
list-style-type:none;padding:0;margin:0;width:100%;
}

#user-admin-buttons {
float:left;margin-left:0.5em;clear:right;
}

.profile {
clear:both;margin:1em 0;
}

.profile .picture {
float:right;margin:0 1em 1em 0;
}

.profile dt {
margin:1em 0 0.2em 0;font-weight:bold;
}

.profile dd {
margin:0;
}

html {
  height:100%;margin-bottom:1px;background:#fff;
}

body {
margin:0;padding:0;
}

p {
  margin-top:5px;margin-bottom:5px;
}

h1,h2,h3,h4,h4 {
	padding-bottom:5px;margin:15px 0;
}

body {
font-size:13px;
}

h1 {
font-size:150%;
}

h2 {
font-size:130%;
}

h3 {
font-size:120%;
}

h4 {
font-size:110%;
}

.small,.modifydate,.createdate,div.mosimage_caption {
font-size:100%;
}

div.moduletable h2,.componentheading {
font-size:130%;
}

.contentheading {
font-size:150%;
}

.componentheading {
margin-bottom:12px;
}

td.componentheading {
padding-bottom:15px;
}

body {
line-height:135%;font-family:'Trebuchet MS',Trebuchet,Arial,Verdana,sans-serif;color:#1D2D45;
}

div#top {
color:#666;
}

.contentheading,.componentheading {
font-weight:bold;
}

div.moduletable h2,div.moduletable-hilite1 h2,div.mdouletable-hilite2 h2,.contentheading {

}

table.headlines div.moduletable h2,.componentheading {

}

a:link,a:visited {
        color:#819D26;text-decoration:none;
}

div#bottom a:link,div#bottom a:visited {
color:#58a;
}

a:hover {
text-decoration:underline;
}

html {
background:#5670A1 url(/themes/parrotify/images/bg.png) 0 0 repeat-x;
}

div#wrapper {
margin:0 auto;width:868px;padding-top:18px;
}

div#header {
background:url(/themes/parrotify/images/header-80-bg.png) 0 0 repeat-x;
}

div#header .rk-1 {
background:url(/themes/parrotify/images/header-80-r.png) 100% 0 no-repeat;
}

div#header .rk-2 {
background:url(/themes/parrotify/images/header-80-l.png) 0 0 no-repeat;height:80px;overflow:hidden;
}

img#logo {
float:left;margin-left:30px;padding-top:5px;width:261px;height:70px;
}

div#top {
margin-left:520px;height:100px;font-style:italic;
}

div#top .padding {
padding:15px;
}

div#horiz-menu {
background:url(/themes/parrotify/images/menu-bg.png) 0 0 repeat-x;height:36px;
}

table.mainbody,table.usermodules {
width:100%;padding:0;
}

td.mainbody {
background:#fff;
}

td.usermodules {
padding:0 10px;
}

td.mainbody .padding,td.right .padding {
padding:15px;
}

td.mainbody .padding {
padding:0px 25px 15px 25px;
}

td.right {
background:#EEF6FF url(/themes/parrotify/images/col-divider.png) 0 0 repeat-y;width:255px;
}

div#mission {
margin-left:40px;margin-right:40px;padding:1em;background-color:#fff;border:1px solid #e0e5fb;
}

div#bottom {
background:#121A28 url(/themes/parrotify/images/bottom-bg.png) 0 0 repeat-x;
}

div#footer {
background:url(/themes/parrotify/images/footer-bg.png) 0 0 repeat-x;
}

div#footer .rk-1 {
background:url(/themes/parrotify/images/footer-r.png) 100% 0 no-repeat;
}

div#footer .rk-2 {
background:url(/themes/parrotify/images/footer-l.png) 0 0 no-repeat;height:105px;overflow:hidden;
}

div#the-footer {
text-align:center;
}

div#horiz-menu ul {
margin:0;padding:6px 0 0 0;
}

div#horiz-menu li {
margin:0;padding:0;padding-right:2px;float:left;list-style:none;background:url(/themes/parrotify/images/menu-divider.png) 100% 0 repeat-y;
}

div#horiz-menu a:link,div#horiz-menu a:visited {
display:block;float:left;padding:0 25px;height:30px;line-height:30px;font-weight:bold;color:#fff;text-decoration:none;
}

div#horiz-menu a:hover {
background:#4F6FA7;
}

.hide {
display:none;
}

form {
border:0;margin:0;padding:0;
}

table.blog span.article_seperator {
display:block;height:20px;
}

.highlight {
background-color:#ffc;
}

div.moduletable h2 {
color:#121A28;border-bottom:3px solid #e7e7e7;padding:3px 0;
}

td.right div.moduletable {
color:#121A28;
}

td.right div.moduletable h2 {
border-bottom:3px solid #D2E0F2;
}

div#bottom div.moduletable {
color:#ccc;
}

div#bottom div.moduletable h2 {
border-bottom:3px solid #243959;color:#fff;
}

.contentheading {
padding:10px 0;margin-top:5px;margin-bottom:10px;line-height:100%;color:#58a;
}

td.buttonheading {
vertical-align:middle;
}

td.buttonheading img {
margin-right:5px;
}

table.contentpaneopen,table.contentpane {
border-collapse:collapse;padding:0;margin:0;width:100%;
}

div.contentpane,div.contentpaneopen {
width:100%;
}

.clr {
clear:both;
}

div.mosimage {
margin:5px;
}

a.readon {
display:block;float:left;padding-left:20px;margin-top:10px;line-height:14px;height:16px;
}

.small {
color:#666;
}

.modifydate {
height:20px;vertical-align:bottom;color:#666;
}

.createdate {
height:20px;vertical-align:top;vertical-align:top;padding-bottom:5px;padding-top:0px;color:#666;
}

table.contenttoc {
margin:5px;padding:5px;
}

table.contenttoc td {
padding:0 5px;
}

span.pathway {
display:block;height:16px;line-height:16px;vertical-align:middle;margin-top:5px;margin-bottom:20px;font-weight:bold;
}

span.pathway img {
margin:0px 10px;vertical-align:middle;
}

div#pathway {
margin-bottom:10px;padding-left:8px;
}

table.mainbody td.mainbody td.sectiontableheader {
font-weight:bold;padding:4px;line-height:20px;background:#f6f6f6;border-bottom:1px solid #ddd;
}

tr.sectiontableentry1 td,tr.sectiontableentry2 td,td.sectiontableentry1,td.sectiontableentry2 {
padding:5px;border-top:1px #fff;border-bottom:1px solid #efefef;
}

tr.sectiontableentry2 td,td.sectiontableentry1 {
background:#fcfcfc;
}

.pollstableborder .sectiontableentry1,.pollstableborder .sectiontableentry2 {
background:none;border:0;
}

a.mainlevel:link,a.mainlevel:visited {
text-decoration:none;
}

a.mainlevel {
display:block;padding:4px 0 2px 28px;margin-bottom:3px;background:url(/themes/parrotify/images/menu-bullet.png) 0 0 no-repeat;
}

a.sublevel:link,a.sublevel:visited {
text-decoration:none;
}

a.mainlevel:hover {
text-decoration:underline;
}

a.sublevel:hover {
text-decoration:none;
}

a#active_menu:link,a#active_menu:visited {
color:#333;
}

li.active_menu a:link,li.active_menu a:visited {
color:#333;
}

table {
border-collapse:separate;
}

tbody {
border-top:none;
}

td.right div.moduletable h2 {
text-transform:capitalize;
}

#top_left ul,#top_right ul {
padding-left:40px;
}

.sidebar .links-menu {
padding-left:0;
}

.links-menu li {
background:transparent url(/themes/parrotify/images/menu-leaf.gif) no-repeat 1px .35em;
}

.sidebar .item-list li {
text-align:left;background:transparent url(/themes/parrotify/images/menu-leaf.gif) no-repeat 1px .35em;
}

.sidebar ul li {
list-style-image:none;list-style-type:none;
}

.sidebar ul li a {
padding:4px 0 2px 28px;
}

ul li.leaf {
background:transparent url(/themes/parrotify/images/menu-leaf.gif) no-repeat 1px .35em;
}

ul li.expanded {
background:transparent url(/themes/parrotify/images/menu-expanded.gif) no-repeat 1px .35em;
}

ul li.collapsed {
background:transparent url(/themes/parrotify/images/menu-collapsed.gif) no-repeat 0px .35em;
}

ul li.leaf a,ul li.expanded a,ul li.collapsed a {
display:block;
}

.sidebar ul li ul.menu li {
padding-left:25px;
}

.block ul {
padding:0;
}

ul.menu li {
margin:0;
}

li.collapsed,li.leaf {
padding:0;
}

#header-region {
font-weight:bold;
}

tbody h2 {
margin-left:-2px;
}

tbody h2 a:link,tbody h2 a:visited {
color:#58a;
}

.terms {
margin-left:-3px;
}

ul.links li {
padding:0 1em 0 0;
}

.feed-icon img {
padding-top:15px;
}

div.sponsor {
padding:8px;margin-bottom:10px;border:1px solid #ccc;clear:both;
}

div.sponsor h3 {
font-size:120%;padding-top:0px;padding-bottom:0px;margin-top:0px;margin-bottom:0px;
}

div.sponsor img {
float:right;margin-left:10px;margin-bottom:5px;
}

