<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Parrot - {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.url }}/stylesheets/parrot.css" media="all">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <a href="http://www.parrot.org">
                    <img border=0 src="{{ site.url }}/images/parrot_logo.png" id="logo" alt="parrot">
                </a>
            </div>
            <div class="divider"></div>
            <div id="mainbody">
                <div id="sidebar">
                    <div class="divider"></div>
                    <ul class="sidebar-list">
                        <li>
                            <a href="http://github.com/parrot">Parrot<a>
                            <ul>
                                <li><a href="{{ site.url }}">Home</a></li>
                                <li><a href="http://github.com/parrot/parrot">Git Repo</a></li>
                                <li><a href="http://trac.parrot.org/">Trac</a></li>
                                <li><a href="http://planet.parrotcode.org">Planet Parrot</a></li>
                            </ul>
                        </li>
                        <li>
                            Ecosystem Projects
                            <ul>
                                <li><a href="{{ site.url }}/pages/projects.html">Projects</a></li>
                                <li><a href="{{ site.url }}/pages/compilers.html">Compilers</a></li>
                                <li><a href="{{ site.url }}/plumage">Plumage</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="divider"></div>
                </div>
                <div id="mainbody-content">
                    <h2>{{ page.title }}</h2>
                    {{ content }}
                </div>
                <br style="clear:both"/>
            </div>
            <div class="divider"></div>
            <div id="footer">
                Copyright &copy; 2002-2011, <a href="http://parrot.org/foundation">Parrot Foundation</a>.
            </div>
        </div>
    </body>
</html>
